
i{
  color: #000000;
  font-size: 3vw;
  background-color: none;
}

a{
  color: #000000;
  font-size: 2vw;
  background-color: none;
}

@media screen and (max-width: 599px){

  i{
    font-size: 3vh;
  }

  a{
    font-size: 2vh;
  }
}

@media screen and (max-width: 799px), screen and (max-height: 599px) {

}