#estrella_1 {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 71.5%;
    width: 300px;
    height: 300px;
    background-image: url("assets/estrella_ia_1.png");
    background-size: cover;
  }

i{
  color: #000000;
  font-size: 3vw;
  background-color: none;
}

a{
  color: #000000;
  font-size: 2vw;
  background-color: none;
}

@media screen and (max-width: 599px){

  i{
    font-size: 3vh;
  }

  a{
    font-size: 2vh;
  }
}

@media screen and (max-width: 799px), screen and (max-height: 599px) {

}