.caja_dias{
    background-color: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: max-content;
    max-width: 100%;
    gap: 3vw;
    justify-content: center;
}

.caja_dias .dia{
    background-color: #000000;
    border-color: #ffffff;
    border-radius: 1.8vw;
    border-style: solid;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content min-content;
    
    padding-bottom: 5%;
    padding-top: 5%;
    gap: 0.5vw;
    align-items: start;
    justify-items: center;

}

.caja_botones{

    background-color: transparent;
    border-color: transparent;
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    margin-left: 1%;
    margin-right: 1%;
    border-style: solid;
    border-radius: 3vw;
    align-content: center;
    justify-content: space-between;
}

.caja_botones button{
    width: min-content;
    padding: 0%;
    border-radius: 3vw;
}

.caja_botones i{
    font-size: 10vw;
}

@media screen and (max-width: 499px){

    .caja_dias{

        grid-template-columns: 45% 45%;
        grid-template-rows: 45% 45%;
        align-content: center;
    }
    
    .caja_dias .dia{
        border-radius: 2.5vh;
        gap: 0.8vh;
    }

    .caja_botones button{
        width: min-content;
        padding: 0%;
        border-radius: 3vh;
    }
    
    .caja_botones i{
        font-size: 10vh;
    }
}

