.caja_dias{
    background-color: none;
    position: fixed;
    display: flex;
    top: 25%;
    left: -5vw;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    justify-content: space-around;

}

.caja_dias .dia{
    background-color: #000000;
    border-color: #ffffff;
}

#martes {
    

    width: 18%;
    height: 40%;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-around;
    border-radius: 10%;
    border-style: solid;
}

#miercoles{

    width: 18%;
    height: 40%;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-around;
    border-radius: 10%;
    border-style: solid;
}

#jueves{

    width: 18%;
    height: 40%;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-around;
    border-radius: 10%;
    border-style: solid;
}

#viernes{

    width: 18%;
    height: 40%;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-around;
    border-radius: 10%;
    border-style: solid;
    
}
@media (max-width: 500px){

   
    .caja_dias{
        background-color: none;
        position: absolute;
        top: 20%;
        left: -5vw;
        width: 100%;
        height: 80%;
        margin-left: 5%;
    }

    #martes {
        top: 5%;
        left: 4%;
        width: 40%;
        height: 35%;

    }
    
    #miercoles{
        top: 5%;
        left: 52%;
        width: 40%;
        height: 35%;


    }
    
    #jueves{
        top: 43%;
        left: 4%;
        width: 40%;
        height: 35%;

    }
    
    #viernes{
        top: 43%;
        left: 52%;
        width: 40%;
        height: 35%;
        
    }
}
