.caja_dias{
    background-color: none;
    position: absolute;
    top: 25%;
    left: -5vw;
    width: 100%;
    height: 100%;
    margin-left: 5%;
}

#martes {
    background-color: #30043d;
    position: absolute;
    top: 1%;
    left: 4%;
    width: 18%;
    height: 40%;
    padding-left: 1%;
    padding-right: 1%;

    border-radius: 10%;
    border-style: solid;
    border-color: #b8013e;
}

#miercoles{
    background-color: #30043d;
    position: absolute;
    top: 1%;
    left: 28%;
    width: 18%;
    height: 40%;
    padding-left: 1%;
    padding-right: 1%;

    border-radius: 10%;
    border-style: solid;
    border-color: #b8013e;
}

#jueves{
    background-color: #30043d;
    position: absolute;
    top: 5%;
    left: 52%;
    width: 18%;
    height: 40%;
    padding-left: 1%;
    padding-right: 1%;

    border-radius: 10%;
    border-style: solid;
    border-color: #b8013e;
}

#viernes{
    background-color: #30043d;
    position: absolute;
    top: 5%;
    left: 76%;
    width: 18%;
    height: 40%;
    padding-left: 1%;
    padding-right: 1%;

    border-radius: 10%;
    border-style: solid;
    border-color: #b8013e;
    
}
@media (max-width: 599px){

    .caja_dias{
        background-color: none;
        position: absolute;
        top: 20%;
        left: -5vw;
        width: 100%;
        height: 80%;
        margin-left: 5%;
    }
    
    #martes {
        background-color: #30043d;
        position: absolute;
        top: 4%;
        left: 4%;
        width: 40%;
        height: 25%;
        padding-left: 1%;
        padding-right: 1%;
    
        border-radius: 10%;
        border-style: solid;
        border-color: #b8013e;
    }
    
    #miercoles{
        background-color: #30043d;
        position: absolute;
        top: 4%;
        left: 52%;
        width: 40%;
        height: 25%;
        padding-left: 1%;
        padding-right: 1%;

        border-radius: 10%;
        border-style: solid;
        border-color: #b8013e;
    }
    
    #jueves{
        background-color: #30043d;
        position: absolute;
        top: 31%;
        left: 4%;
        width: 40%;
        height: 25%;
        padding-left: 1%;
        padding-right: 1%;

        border-radius: 10%;
        border-style: solid;
        border-color: #b8013e;
    }
    
    #viernes{
        background-color: #30043d;
        position: absolute;
        top: 31%;
        left: 52%;
        width: 40%;
        height: 25%;
        padding-left: 1%;
        padding-right: 1%;

        border-radius: 10%;
        border-style: solid;
        border-color: #b8013e;
        
    }
}
