.caja_dias{
    background-color: none;
    position: absolute;
    width: 90%;
    height: 80%;
    margin-left: 5%;
}

#martes{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 15px;
    left: 70px;
    width: 18vw;
    height: 19.8vw;
    padding-left: 1%;
    padding-right: 1%;
}

#miercoles{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 3%;
    left: 38.5%;
    width: 20%;
    height: 45.2%;
    padding-left: 1%;
    padding-right: 1%;
}

#jueves{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 3%;
    left: 71.5%;
    width: 20%;
    height: 45.2%;
    padding-left: 1%;
    padding-right: 1%;
}

#viernes{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 53%;
    left: 38.5%;
    width: 20%;
    height: 45.2%;
    padding-left: 1%;
    padding-right: 1%;
}

#info{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 320px;
    left: 70px;
    width: 18vw;
    height: 19.8vw;
    padding-left: 1%;
    padding-right: 1%;
}
