.caja_dias{
    background-color: none;
    position: absolute;
    width: 90%;
    height: 80%;
    margin-left: 5%;
}

#martes{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 20px;
    left: 71px;
    width: 250px;
    height: 275px;
    padding-left: 1%;
    padding-right: 1%;
}

#miercoles{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 20px;
    left: 486px;
    width: 250px;
    height: 275px;
    padding-left: 1%;
    padding-right: 1%;
}

#jueves{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 20px;
    left: 901px;
    width: 250px;
    height: 275px;
    padding-left: 1%;
    padding-right: 1%;
}

#viernes{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 320px;
    left: 486px;
    width: 250px;
    height: 275px;
    padding-left: 1%;
    padding-right: 1%;
}

#info{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 320px;
    left: 71px;
    width: 250px;
    height: 275px;
    padding-left: 1%;
    padding-right: 1%;
}
