.General{
    width: 100%;
    height: 120%;
    background-image: linear-gradient(to bottom, rgb(97, 255, 137), rgb(227, 250, 227));
    position: absolute;
    top: 0;
    left: 0;

}

ul li button{
    margin-left: -13%;
    background-color: rgb(227, 250, 227);
    width: 230px;
    height: 50px;
    cursor: pointer;

    border-color: rgb(0, 153, 107);
    border-style: solid;
    border-radius: 15px;
}

button:active{
    border-color: rgb(44, 44, 44);
}

ul li button h4{
    
    position: relative;
    top: -6px;
}

ul li #launcher_actividades_complementarias_tecnologia h4{

    position: relative;
    top: -12px;
}

ul li ul{
    display: none;
    position: absolute;
}

@font-face {
    font-family: 'Lovelo';
    src: url('Fuentes/Lovelo/Lovelo\ Black.otf') format('opentype'),
         url("Fuentes/Lovelo/Lovelo\ Line\ Bold.otf") format("opentype"),
         url("Fuentes/Lovelo/Lovelo\ Line\ Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat-Classic";
    src: url("Fuentes\Monserrat Classic\Montserrat-Black.otf") format('opentype'),
         url("Fuentes\Monserrat Classic\Montserrat-Bold.otf") format("opentype"),
         url("Fuentes\Monserrat Classic\Montserrat-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  
