
.General{
    display: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #30043d, #b8013e);
    position: absolute;
    top: 0vw;
    left: 0vw;

}

li button{
    
    background-color: #30043d;
    width: 100%;
    
    left: 50%;
    cursor: pointer;
    border: 1%;
    border-color: #e54059;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 5%;
    
}



button:active{

    border-color: #30043d;
}

 li button h4{
    
    position: relative;
    top: 0;
    background-color: none;
    
}

li{
    list-style-type: none;
}

ul{
    list-style-type: none;
}

li ul{
    display: none;
    position: absolute;
    list-style-type: none;
}

.swal2-title {

    color: #fdb36a;
    font-family: 'Lovelo', sans-serif;
}

#swal2-html-container{

    color: aliceblue;
    font-family: 'Lovelo', sans-serif;
}

.swal2-icon-content{
    font-family: 'Montserrat-Bold', sans-serif;
}
.swal2-confirm.swal2-styled{

    background-color: #30043d;
    font-family: 'Lovelo', sans-serif;
}
.swal2-popup.swal2-modal.swal2-icon-info.swal2-show{

    border-style: solid;
    border-color: #b8013e;
    background-image: linear-gradient(to bottom, #30043d, #b8013e);
}

.swal2-icon.swal2-info.swal2-icon-show{

    color: #fdb36a;
    border-color: #fdb36a;
}

@font-face {
    font-family: 'Lovelo';
    src: url('Fuentes/Lovelo/Lovelo\ Black.otf') format('opentype'),
         url("Fuentes/Lovelo/Lovelo\ Line\ Bold.otf") format("opentype"),
         url("Fuentes/Lovelo/Lovelo\ Line\ Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat-Classic";
    src: url("Fuentes\Monserrat Classic\Montserrat-Black.otf") format('opentype'),
         url("Fuentes\Monserrat Classic\Montserrat-Bold.otf") format("opentype"),
         url("Fuentes\Monserrat Classic\Montserrat-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  
