.General{
    width: 100%;
    height: 100%;
    background-color: rgb(193, 228, 228);
    position: absolute;
    top: 0;
    left: 0;
}

nav ul{
    margin-left: -15%;
    list-style: none;
}
nav ul li{
    position: relative;
}

nav ul li ul{
    
    margin-left: -15%;
    display: none;
    position: absolute;
}

nav ul li:hover ul {
    
    display: block;
}
