
.General{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 28% 48% auto;
    background-image: linear-gradient(to bottom, #ffffff, #000000);
    position: absolute;
    top: 0vw;
    left: 0vw;
    overflow: auto;

}

button{
    
    background-color: #ffffff;
    width: 80%;
    cursor: pointer;
    border-color: #000000;
    border-style: solid;
    border-radius: 1.1vw;


    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: max-content;

    justify-content: space-between;
    align-items: center;
}

button:active{
    transform: scale(0.9);
}

button h4{
    margin-top: 12%;
    background-color: none;
}

#botonSemana{
    background-color: transparent;
    width: auto;
    height: auto;
    border-color: transparent;
    cursor: auto;
}

.swal2-title {
    font-family: 'Lovelo', sans-serif;
}

#swal2-html-container{

    font-family: 'Lovelo', sans-serif;
}
/*
#swal2-html-container a{

}
*/

.swal2-icon-content{
    font-family: 'Montserrat-Bold', sans-serif;
}
.swal2-confirm.swal2-styled{

    background-color: #ffffff;
    font-family: 'Lovelo', sans-serif;
}

.swal2-cancel.swal2-styled{

    background-color: #ffffff;
    font-family: 'Lovelo', sans-serif;
}

.swal2-actions{
    flex-wrap: nowrap;
}

*{
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 599px){

    .General{
        grid-template-rows: 18% 65% auto;
        overflow: scroll;
    }

    button{
        border-radius: 1.5vh;
        width: 90%;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }

    button h4{
        margin: 0%;
    }

}

@font-face {
    font-family: 'Lovelo';
    src: url('Fuentes/Lovelo/Lovelo\ Black.otf') format('opentype'),
        url("Fuentes/Lovelo/Lovelo\ Line\ Bold.otf") format("opentype"),
        url("Fuentes/Lovelo/Lovelo\ Line\ Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Classic";
    src: url("Fuentes\Monserrat Classic\Montserrat-Black.otf") format('opentype'),
        url("Fuentes\Monserrat Classic\Montserrat-Bold.otf") format("opentype"),
        url("Fuentes\Monserrat Classic\Montserrat-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}