
.General{
    display: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff, #000000);
    position: absolute;
    top: 0vw;
    left: 0vw;

}
  
li button{
    
    background-color: #ffffff;
    width: 100%;
    
    left: 0%;
    cursor: pointer;
    border: 1%;
    border-color: #000000;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 5%;

    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
}




 li button h4{
    
    position: relative;
    top: 0;
    left: 0%;
    background-color: none;
    
    
}

li{
    list-style-type: none;
}

ul{
    list-style-type: none;
}

li ul{
    display: none;
    position: absolute;
    list-style-type: none;
}

.swal2-title {
    font-family: 'Lovelo', sans-serif;
}

#swal2-html-container{

    font-family: 'Lovelo', sans-serif;
}

.swal2-icon-content{
    font-family: 'Montserrat-Bold', sans-serif;
}
.swal2-confirm.swal2-styled{

    background-color: #ffffff;
    font-family: 'Lovelo', sans-serif;
}
.swal2-popup.swal2-modal.swal2-icon-info.swal2-show{

    border-style: none;
}

.swal2-icon.swal2-info.swal2-icon-show{

    color: #fdb36a;
    border-color: #fdb36a;
    
}

.caja_paletas{

    background-color: #ffffff;
    border-color: transparent;
    position: absolute;
    left: -82%;
    top: 75%;
    width: 95%;
    height: 20%;
    border-style: solid;
    border-radius: 3vw;
    
}

.div_paletas{

    display: flex;
    position: relative;
    background-color: transparent;
    left: 0.5%;
    top: 10%;
    width: 97%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}

.div_paletas i{
    position: relative;
    display: initial;
    background-color: transparent;
    font-size: 8vw;
    width: auto;
    height: auto;
}

.div_paletas button{

    background-color: transparent;
    border-color: transparent;
    border-style: solid; 
}

*{
    transition: all 0.5s ease-out;
}

@media (max-width: 599px){
 
    .caja_paletas{

        background-color: #ffffff;
        border-color: transparent;
        position: absolute;
        left: -82%;
        top: 85%;
        width: 97%;
        height: 10%;
        border-style: solid;
        border-radius: 3vw;
        
    }
    
    .div_paletas{
    
        display: flex;
        position: relative;
        background-color: transparent;
        left: 0.5%;
        top: 10%;
        width: 97%;
        height: 80%;
        justify-content: space-between;
        align-items: center;
    }
    
    .div_paletas i{
        position: relative;
        display: initial;
        background-color: transparent;
        font-size: 10vw;
        width: auto;
        height: auto;
    }

}

@font-face {
    font-family: 'Lovelo';
    src: url('Fuentes/Lovelo/Lovelo\ Black.otf') format('opentype'),
         url("Fuentes/Lovelo/Lovelo\ Line\ Bold.otf") format("opentype"),
         url("Fuentes/Lovelo/Lovelo\ Line\ Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat-Classic";
    src: url("Fuentes\Monserrat Classic\Montserrat-Black.otf") format('opentype'),
         url("Fuentes\Monserrat Classic\Montserrat-Bold.otf") format("opentype"),
         url("Fuentes\Monserrat Classic\Montserrat-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  
