.semana_plan{
    display: grid;
    background-color: none;
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    align-content: center;
    justify-content: center;
}

#titulo{
    font-size: 2vw;

    font-family: 'Lovelo', sans-serif;
    background-color: none;
    color: #000000;
}

.correo{
    color: #ffffff;
}

.patreon{
    color: #ffffff;
}

hr{
    border-style: solid;
    width: 16vw;
    border-top-color: #ffffff;
    border-bottom-color:#ffffff;

}

h3{
    color: #ffffff;
    font-size: 2vw;
    font-family: 'Lovelo', sans-serif;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 0%;
}

h4{
    text-decoration: underline;
    color: #000000;
    font-size: 1vw;

    font-family: 'Lovelo', sans-serif;
    text-decoration: none;
}

button h4:hover{
    color: #000000;
}

p{
    display: none;
    text-align: left; 
    font-size: 1vw; 
    font-family: 'Lovelo', sans-serif;
    font-weight: bold;
}

span{
    color: #000000;
}

ul{
    display: none
}

.span_desc{
    color: #000000;
}

.p_desc and .p_descEx{
    text-align: center;
    font-size: 1.4vw; 
}


@media screen and (max-width: 499px){

    #titulo{
        font-size: 2.3vh;
    }

    hr{
        width: 18vh;
    }
    h3{
        font-size: 2vh;

    }
    h4{
        font-size: 1.3vh;
        padding-top: 5%;
        padding-bottom: 5%;
    }

}

