.semana_plan{
    display: flex;
  justify-content: space-between;
}

#titulo{
    width: -50%;
    height: -50%;
    font-size: 1.5vw;
    margin-top: -1%;
    margin-left: -12%;
    background-color: none;
    padding: 0,5%;  
    align-self: center;
    flex-grow: 1;
    text-align: center;
}

#semana{
    font-size: 2vh;
    align-self: flex-start;
    padding: 0,5%;
    margin-left: 5%;
    background-color: none;
}

h3{
    color: blueviolet;
}

h4{
    text-decoration: underline;
    color: aqua;
}

p{
    text-align: justify; 
    color: antiquewhite;   
}

span{
    color: blueviolet;
}

#caja_info_organizacion_metodos{
    top: 1550%;
    left: 6%;
    position: absolute;
    z-index: 100;

}

#caja_info_lenguaje_programacion_martes{
    top: 1335%;
    left: 6%;
    position: absolute;
    z-index: 100;
}

#caja_info_ingles{
    top: 1550%;
    left: -160.5%;
    position: absolute;
    z-index: 100;
}

#caja_info_sistemas_informacion{
    top: 1335%;
    left: -160.5%;
    position: absolute;
    z-index: 100;
}

#caja_info_actividades_complementarias_tecnologia{
    top: 558%;
    left: -160.5%;
    position: absolute;
    z-index: 100;
}

#caja_info_lenguaje_programacion_jueves{
    top: 1550%;
    left: -326.5%;
    position: absolute;
    z-index: 100;
}

#caja_info_matematica{
    top: 1335%;
    left: -326.5%;
    position: absolute;
    z-index: 100;
}

#caja_info_estructura_datos{
    top: -130%;
    left: -160.5%;
    position: absolute;
    z-index: 100;
}