.semana_plan{
    display: flex;
    justify-content: space-between;
    background-color: none;
    width: 100%;
    height: 25%;
}

#titulo{
    font-size: 2vw;
    top: 0;
    left: 41.5%;
    font-family: 'Lovelo', sans-serif;
    background-color: none;
    flex-grow: 1;
    color: #000000;
    position: absolute;
}

#semana{
    font-size: 1.2vw;
    font-family: 'Lovelo', sans-serif;
    align-self: flex-start;
    padding: 0,5%;
    margin-left: 5%;
    background-color: none;
    color: #000000;
}

hr{
    border-style: solid;
    border-top-color: #ffffff;
    border-bottom-color:#ffffff;

}

h3{
    color: #ffffff;
    font-size: 2vw;
    font-family: 'Lovelo', sans-serif;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 0%;
}

h4{
    text-decoration: underline;
    color: #000000;
    font-size: 1.2vw;
    font-family: 'Lovelo', sans-serif;
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 3%;
}

button h4:hover{
    color: #000000;
}

p{
    text-align: left; 
    font-size: 1vw; 
    font-family: 'Lovelo', sans-serif;
    font-weight: bold;
}

span{
    color: #000000;
}

@media (max-width: 599px){

    .semana_plan{
        display: flex;
        justify-content: space-between;
        background-color: none;
        width: 100%;
        height: 25%;
    }
    
    #titulo{
        font-size: 5vw;
        top: 5%;
        left: 30%;
        font-family: 'Lovelo', sans-serif;
        background-color: none;
        flex-grow: 1;
        position: absolute;
    }
    
    #semana{
        font-size: 3vw;
        font-family: 'Lovelo', sans-serif;
        align-self: flex-start;
        padding: 0,5%;
        margin-left: 5%;
        background-color: none;
    }
    
    h3{
        font-size: 3.5vw;
        font-family: 'Lovelo', sans-serif;
        font-weight: bold;
    }
    
    h4{
        text-decoration: underline;
        font-size: 2.5vw;
        font-family: 'Lovelo', sans-serif;
        text-decoration: none;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    p{
        text-align: left; 
        font-size: 1vw; 
        font-family: 'Lovelo', sans-serif;
        font-weight: bold;
    }

}