.semana_plan{
    display: flex;
  justify-content: space-between;
}

#titulo{
    width: -50%;
    height: -50%;
    font-size: 2vw;
    font-family: 'Lovelo', sans-serif;
    margin-top: -2%;
    margin-left: -13%;
    margin-bottom: -3%;
    background-color: none;
    padding: 0,5%;  
    align-self: center;
    flex-grow: 1;
    text-align: center;
    color: rgb(255, 255, 255);
}

#semana{
    font-size: 1.2vw;
    font-family: "Montserrat-Classic", sans-serif;
    align-self: flex-start;
    padding: 0,5%;
    margin-left: 5%;
    background-color: none;
    color: rgb(255, 255, 255);
}

hr{
    border-style: solid;
    border-top-color: rgb(255, 255, 255);

}

h3{
    color: rgb(0, 74, 173);
    font-size: 1.4vw;
    font-family: "Montserrat-Classic", sans-serif;
    font-weight: bold;
}

h4{
    text-decoration: underline;
    color: rgb(56, 182, 255);
    font-size: 1vw;
    font-family: "Montserrat-Classic", sans-serif;
    text-decoration: none;
}

p{
    text-align: left; 
    color: antiquewhite;  
    font-size: 1vw; 
    font-family: "Montserrat-Classic", sans-serif;
    font-weight: bold;
}

span{
    color: rgb(0, 74, 173);
}

